<template>
    <div>
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword" 
                      placeholder="Password" v-model="form.password">
                      <small class="text-danger" v-if="errors.password"> {{ errors.password[0] }}</small>
                        
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword" 
                      placeholder="Password" v-model="form.password">
                      <small class="text-danger" v-if="errors.password"> {{ errors.password[0] }}</small>
                        
                    </div>
                    <div class="form-group">
                      <a href="index.html" class="btn btn-primary btn-block">Forget Password</a>
                    </div>
                    <hr>
                  </form>
                  <hr>
                  <div class="text-center">
                    <router-link to="/" class="font-weight-bold small">Back to Login </router-link>
                  </div>
                  <div class="text-center">
                    <div class="text-center">
                        <router-link to="/foo" class="font-weight-bold small"> Forget Password </router-link>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</template>

<script type="text/javascript">
import { AsyncLocalStorage } from 'async_hooks';
import axios from 'axios';
import { response } from 'express';

export default {
//     created(){
//     if (User.loggedIn()) {
//       this.$router.push({name: 'home'})
//     }
//   },
  data() {
    return {
        form: {
            password: null,
            password: null,
        },
        errors: {}
    }
  },
  methods: {
    forgetPassword() {
        axios.post('/api/auth/forgotPassword', {email: this.form.email})
        .then(res => {
            responseInfo = AsyncLocalStorage.setItem('description', JSON.stringify(res.data));
            toast.fire({
            icon: 'success',
            title: responseInfo
          })
        })
        .catch(error => this.errors = error.response.data.errors)
      .catch(
        toast.fire({
          icon: 'warning',
          title: error
        })
      )
    }
  }
}

</script>


<style type="text/css">
</style>