<template>

</template>

<script type="text/javascript">
import { Toast } from 'bootstrap';

export default {
    created() {
        localStorage.removeItem('token')
        localStorage.removeItem('user')
        toast.fire({
            icon: 'success',
            title: 'Logout Successfully',
        })
        this.$router.push({ name: '/' })
    }
}

</script>

<style type="text/css">
</style>